.new-event-container {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  min-height: calc(88vh - 75px);
}

.new-event-form {
  grid-column-start: 2;
  margin-top: 5rem;
  margin-bottom: 5rem;
  justify-self: center;
  box-shadow: 5px 7px 8px 7px #c9c5c5;
  padding: 50px;
  border-radius: 5%;
}

