.App-header h1 {
  text-align: center;
  margin: 0;
  height: 4rem;
  font-family: 'Dancing Script', cursive;
  font-size: 2.5em;
}

.submission-list {
  /* display: flex;
  height: 750px;
  justify-content: space-evenly; */
  display: grid;
  grid-template-columns: 10% 90% 10%;
}

.submission-cards {
  grid-column-start: 2;
}

.main-event-container {
  display: grid;
  grid-template-columns: 70% 30%;
  margin-top: 3rem;
  margin-bottom: 5rem;
}

.event-card {
  padding-left: 11.5rem;
  padding-right: 5rem;
}

.search-box {
  margin-bottom: 1rem;
}

.participants-button {
  padding-bottom: 1rem;
}

/* .submission-list {
  /* margin-left: 3rem;
  margin-right: 3rem;
  padding: 3.5rem;
  justify-content: space-evenly; */
/* } */