.card-div {
    display: inline-block;
    margin: 1rem;
}

.event-list-container {
    display: grid;
    grid-template-columns: 20% 80% 20%;
}

.event-list {
    margin-top: 3rem;
    grid-column-start: 2;
}

#event-card {
    box-shadow: 5px 7px 8px 7px #c9c5c5;
}