.App {
  min-height: calc(83vh - 75px);
}

.App-header h1 {
  text-align: center;
  margin: 0;
  height: 4rem;
  font-family: 'Dancing Script', cursive;
  font-size: 2.5em;
}

.submission-list {
  display: grid;
  margin-left: 2rem;
  /* grid-template-columns: 15% 70% 15%; */
}

.submission-cards {
  grid-column-start: 2;
}

.main-event-container {
  display: grid;
  grid-template-columns: 55% 45%;
  margin-top: 3rem;
  margin-bottom: 5rem;
}

.event-card {
  padding-left: 10rem;
  padding-right: 2rem;

}

.search-box, .city-input-box {
  display: flex;
  margin-bottom: 1.5rem;
}

.search-box-input {
  margin-right: 1rem;
  width: 350px;
}

.participants-button {
  padding-bottom: 1rem;
}

.button-container {
  margin-top: 3rem;
  /* padding-left: 5rem; */
}