.submission-card {
    display: inline-block;
    margin: 2rem;
    box-shadow: 5px 7px 8px 7px #c9c5c5;
    border-radius: 10%;
}

.results {
    padding-left: 8rem;
}

.ranking {
    padding-top: 1rem;
}